:root {
  --color-primary: #f9f9f4;         /* off-white */
  --color-primary-light: #ffffff;   /* versão mais clara para hover */
  --color-secondary: #98d1b5;       /* verde Mintt */
  --color-secondary-dark: #7bb398;  /* verde Mintt escurecido */
  --color-muted: #d1d1d1;
  --color-dark: #2e2e2e;
  --color-light-text: #ffffff;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-secondary); /* fundo geral verde */
  color: var(--color-dark);
  font-family: 'Segoe UI', sans-serif;
}

a {
  color: var(--color-secondary);
  text-decoration: none;

  &:hover {
    color: var(--color-secondary-dark);
  }
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

/* Botões com borda clara (ex: login, carrinho) */
.btn-outline-light {
  border-color: var(--color-primary);
  color: var(--color-dark);

  &:hover {
    background-color: var(--color-primary);
    color: var(--color-secondary-dark);
  }

  i {
    color: var(--color-dark);
  }

  &:hover i {
    color: var(--color-secondary-dark);
  }
}

/* Botões com fundo claro (ex: CTA principal) */
.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-dark);
  border: none;

  &:hover {
    background-color: var(--color-primary-light);
    color: var(--color-secondary-dark);
  }
}
